<!DOCTYPE html>
<!-- saved from url=(0040)http://getbootstrap.com/examples/signin/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico">

    <title>Signin Template for Bootstrap</title>

  <link rel="stylesheet" media="screen" href="/stylesheets/bootstrap.min.css">
  <script src="js/jquery-2.1.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  </head>

  <body>
    <div class="container">
    	<form class="form-signin"  method="post">
	    	<input type="text" name="name" class="form-control" placeholder="填写任务名称"  required="">
	    	<button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>