<%- include header %>

<div id="gantt_wrap">
	<div id="gantt_header">

		<div class="candlebox">
			<div class="candleTitle">
			</div>
		</div>
		<div class="candlebgBox project_name">
			<%=oneProject.name %>
		</div>
	</div>
	<div id="gantt_chart">
		<div id="task_list">
			<div id="project_target">
			</div>
		</div>
		<div id="task_chart">			
			<div class="gridlineBox">
			</div>
			<div class="project_chart">
			</div>
		</div>
	</div>
	<div id="scroll_container">
		<div id="scroll_bg"></div>
		<div id="scroll_bar"></div>
		<div id="scroll_left"></div>
		<div id="scroll_right"></div>
	</div>
</div>
<%- include footer %>





